<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/index.css">
    
    
    {{!-- links for bootstrap and fontawsome --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
    
    
    
    <title>Xhub</title>
</head>
<body>

    <!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">

		<!-- <a href="#" class="navbar-brand"><img src="img/logo.png" alt=""></a> -->
		<a href="#" class="navbar-brand"><img class="img-fluid" style="width: 220px; height:80px;" src="https://xhubaddis.com/wp-content/uploads/2021/11/UPDATED-LOGOS-GUYS-02.png" ></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-targete="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a href="/" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="/about" class="nav-link">About</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Servics</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Connect</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

{{!-- inform you about us and what we do here --}}

<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">We Are</h1>
		</div>
		<hr>
		<div class="col-12">
			<p style="text-align: center; width:70%; margin-left:15%;">
                xHub Addis is an incubation and acceleration hub where enthusiastic entrepreneurs are trained, mentored, and coached. We have different incubation and acceleration programs, workshops, events, and networking opportunities in order to integrate leadership and entrepreneurship for a wide range of industries and in turn to produce successful innovators. Our incubation and acceleration center is well equipped to boost tomorrow’s innovators.
			</p>
            <br>
            <p style="text-align: center; width:70%; margin-left:15%;">
                We also have a&nbsp; diverse team of dedicated employees who focus on empowering leaders and entrepreneurs of Ethiopia and who give innovators the tools to enhance their quality of leadership. Our aim is to motivate and enable the youth to build sustainable and innovative companies by sharing outcome-based knowledge and experience that inspires them to learn and grow personally and professionally.
            </p>
		</div>
	</div>
</div>
<br>
<br>

{{!-- telling you about our story --}}

<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Our story</h1>
		</div>
		<hr>
		<div class="col-12">
			<p style="text-align: center; width:70%; margin-left:15%;">
                Founded in 2014, xHub Addis is an initiative of the Center for African Leadership Studies (CALS) operating with a mission to incubate, mentor, and coach young entrepreneurs. The overall aim of CALS is to build indigenous resources for the study of leadership in a distinctively African setting. For more information on CALS, please visit: 
                <a href="https://africanleadershipstudies.com/"><span style="color: #ff0000;">https://africanleadershipstudies.com/</span></a>
			</p>
            <br>
            <p style="text-align: center; width:70%; margin-left:15%;">
                xHub Addis helps develop businesses and services in the fields of Information Technology, Agribusiness, Communication, Health, Transportation, Engineering, Art, Design, and Education. xHub Addis is a place where great ideas, visions, and dreams are turned into business opportunities or tangible products for a sustainable future. At the center, we provide an open community space where members (entrepreneurs) receive unlimited access to the internet and full-suite services of networking with our international and local partners, coaches, mentors, and investors, who share our values.
            </p>
            <br>
            <p style="text-align: center; width:70%; margin-left:15%;">
                The ‘x’ in xHub stands for our firm belief that there is no limit to the amount of imagination and creativity that one can use to come up with local solutions to local problems. ‘x’ represents the unknown. ‘x’ is the global symbol used when an answer to a question is wrong, but for us, it is a reminder to embrace failure as a very crucial part of the growth process and to contribute to the sustainable development of the country.
            </p>
		</div>
	</div>
</div>
<br>
<br>




<!--- Three Column Section for projects-->

<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-xs-12 col-sm-6 col-md-4">
            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Vision</h2>
                <figure class="wpb_wrapper vc_figure">
			        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="300" height="600" src="https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.46-1024x818.png" class="vc_single_image-img attachment-large" alt="" loading="lazy" srcset="https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.46-1024x818.png 1024w, https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.46-300x240.png 300w, https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.46-768x614.png 768w, https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.46-145x116.png 145w, https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.46.png 1263w" sizes="(max-width: 800px) 100vw, 800px"></div>
	    	    </figure>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
		    <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Mission</h2>
                <figure class="wpb_wrapper vc_figure">
			        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="300" height="300" src="https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.00-1024x423.png" class="vc_single_image-img attachment-large" alt="" loading="lazy" srcset="https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.00-1024x423.png 1024w, https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.00-300x124.png 300w, https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.00-768x318.png 768w, https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.00-228x94.png 228w, https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.00.png 1265w" sizes="(max-width: 800px) 100vw, 800px"></div>
		        </figure>
		</div>
		<div class="col-sm-12 col-md-4">
            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Goals</h2>
                <figure class="wpb_wrapper vc_figure">
			        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="300" height="300" src="https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.33-1024x818.png" class="vc_single_image-img attachment-large" alt="" loading="lazy" srcset="https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.33-1024x818.png 1024w, https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.33-300x240.png 300w, https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.33-768x614.png 768w, https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.33-145x116.png 145w, https://xhubaddis.com/wp-content/uploads/2021/12/2021-12-24-14.50.33.png 1263w" sizes="(max-width: 800px) 100vw, 800px"></div>
		        </figure>
		</div>	
	</div>
</div>

<br>
<br>





<!--- Footer -->
<footer style="background-color: rgb(95, 90, 90); color: #fff">
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<a href="#" class="navbar-brand"><img class="img-fluid" style="width: 200px; height:80px;" src="https://xhubaddis.com/wp-content/uploads/2021/11/UPDATED-LOGOS-GUYS-02.png" ></a>
				<hr style="width: 100%;" class="light">
				<p>+251-911703617</p>
				<p>INFO@XHUBADIS.com</p>
				<p>Addis Ababa , Bole</p>
			</div>
			<div class="col-md-4">
				<hr style="width: 100%;" class="light">
				<a href="#" class="navbar-brand"><h4 class="display-6">Work Hours</h4></a>
				<hr style="width: 100%;" class="light">
				<p>Monday : 1:00 - 12:00</p>
				<p>Saturday : 1:00 - 10:00</p>
				<p>Sunday : closed</p>
			</div>
			<div class="col-md-4">
				<hr style="width: 100%;" class="light">
				<a href="#" class="navbar-brand"><h4 class="display-6">Area</h4></a>
				<hr style="width: 100%;" class="light">
				<p>Addis Ababa</p>
				<p>Bole , Behind Edna Mall</p>
				<p>Morning star 5th floor</p>
			</div>
			<div class="col-12">
				<hr style="width: 70%; margin-left:15%;" class="light">
				<h5>&copy , info@XHUBADIS.com</h5>
			</div>

		</div>

	</div>
</footer>




    
    
</body>
</html>