<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/index.css">
    
    
    {{!-- links for bootstrap and fontawsome --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
    
    
    
    <title>Xhub</title>
</head>
<body>

    <!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">

		<!-- <a href="#" class="navbar-brand"><img src="img/logo.png" alt=""></a> -->
		<a href="#" class="navbar-brand"><img class="img-fluid" style="width: 220px; height:80px;" src="https://xhubaddis.com/wp-content/uploads/2021/11/UPDATED-LOGOS-GUYS-02.png" ></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-targete="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a href="/" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="/about" class="nav-link">About</a>
				</li>
				<li class="nav-item">
					<a href="/services" class="nav-link">Services</a>
				</li>
				<li class="nav-item">
					<a href="/connect" class="nav-link">Connect</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!--- Image Slider -->
<div class="carousel slide" id="sliders" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-targete="#sliders" data-slide-to="0" class="active"></li>
		<li data-targete="#sliders" data-slide-to="1"></li>
		<li data-targete="#sliders" data-slide-to="2"></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img   src="https://xhubaddis.com/wp-content/uploads/2021/11/a-3-of-6-scaled.jpg">
		</div> 
		<div class="carousel-item">
			<img  src="https://xhubaddis.com/wp-content/uploads/2021/11/a-4-of-6-scaled.jpg">
		</div>
		<div class="carousel-item">
			<img  src="	https://xhubaddis.com/wp-content/uploads/2021/11/a-6-of-6-scaled.jpg">
		</div>
	</div>
</div>

<!--- Jumbotron -->
<div class="container-fluid">
	<div class="row jumbotron">
		
	</div >
</div>

<!--- youtube contents Section -->
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">YouTube Contents</h1>
		</div>
		<hr>
		<div class="col-12">
			<p class="lead">watch our youtube contens and learn from our best and brightest
                    sharing their innovation and talent with us for a better future
			</p>
		</div>
	</div>
</div>
<br>
<br>

<!--- Three Column Section for videos -->

<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-xs-12 col-sm-6 col-md-4">
            <iframe title="Young Africa Works|xHub Addis"  src="https://www.youtube.com/embed/UH8Kjev1ujg?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<iframe title="Covid 19 challenge Grant| Tifter Ethiopia" src="https://www.youtube.com/embed/63ILietNNpI?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
		</div>
		<div class="col-sm-12 col-md-4">
			<iframe title="xHub Ahun Testimony"  src="https://www.youtube.com/embed/VUVQaJbCwNU?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
		</div>
		
	</div>

</div>
<br>
<br>
{{!-- join our youtube channel button --}}

<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-12">
			<a href="https://www.youtube.com/watch?v=63ILietNNpI"><button class="join">Join Our YouTube Channel</button></a>  
		</div>		
	</div>
</div>
<br>
<br>
<br>

<!--- Fixed background -->
<figure>
	<div class="fixed-wrap">
		<div id="fixed">

		</div>

	</div>
</figure>
<br>
<br>
<br>
{{!-- our projects section --}}

<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Projects</h1>
		</div>
		<hr>
	</div>
</div>
<br>

<!--- Three Column Section for projects-->

<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-xs-12 col-sm-6 col-md-4">
            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">O-farm</h2>
                <figure class="wpb_wrapper vc_figure">
			        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="https://xhubaddis.com/wp-content/uploads/2021/12/ofarms-150x150.jpeg" class="vc_single_image-img attachment-thumbnail" alt="" loading="lazy"></div>
	    	    </figure>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
		    <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Palladium</h2>
                <figure class="wpb_wrapper vc_figure">
			        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="300" height="169" src="https://xhubaddis.com/wp-content/uploads/2021/12/Palladium-Group-300x169.jpeg" class="vc_single_image-img attachment-medium" alt="" loading="lazy" srcset="https://xhubaddis.com/wp-content/uploads/2021/12/Palladium-Group-300x169.jpeg 300w, https://xhubaddis.com/wp-content/uploads/2021/12/Palladium-Group-768x432.jpeg 768w, https://xhubaddis.com/wp-content/uploads/2021/12/Palladium-Group-206x116.jpeg 206w, https://xhubaddis.com/wp-content/uploads/2021/12/Palladium-Group.jpeg 1024w" sizes="(max-width: 300px) 100vw, 300px"></div>
		        </figure>
		</div>
		<div class="col-sm-12 col-md-4">
            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Giz</h2>
                <figure class="wpb_wrapper vc_figure">
			        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="300" height="107" src="https://xhubaddis.com/wp-content/uploads/2021/11/image015-300x107.png" class="vc_single_image-img attachment-medium" alt="" loading="lazy" srcset="https://xhubaddis.com/wp-content/uploads/2021/11/image015-300x107.png 300w, https://xhubaddis.com/wp-content/uploads/2021/11/image015-768x274.png 768w, https://xhubaddis.com/wp-content/uploads/2021/11/image015-228x81.png 228w, https://xhubaddis.com/wp-content/uploads/2021/11/image015.png 914w" sizes="(max-width: 300px) 100vw, 300px"></div>
		        </figure>
		</div>	
	</div>
</div>

<br>
<br>

<!--- Two Column Section for registration -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-lg-6">
			<p>We love hearing from our customers and guests,  We are here to answer any question you may have about us.</p>
			<p> Reach out to us and we will respond as soon as possible.</p>
		</div>
		<div class="col-lg-6">
            <div class="container-fluid">
                <div class="container-fluid padding">
	                <div class="row text-center">
		                <div class="col-12">
                            <h4 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Join Us</h4>
                            <hr class="text-center" style="width:60%; margin-left:20%">
                            <br>
			                <a href="/register"><button class="join" style="width: fit-content; padding: 13px; margin: 2px 2px 2px 2px;">Fill Application</button></a>  
                            <br>
                        </div>		
	                </div>
                </div>
            </div>
        </div>
	</div>

</div>
<br>
<br>
<br>


{{!-- upcoming events log --}}
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">UPCOMING EVENTS </h1>
		</div>
		<hr>
        <div>
            <p>stay tuned for our next Group incubation application post</p>
        </div>
	</div>
</div>
<br>


<!--- Footer -->
<footer style="background-color: rgb(95, 90, 90); color: #fff">
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<a href="#" class="navbar-brand"><img class="img-fluid" style="width: 200px; height:80px;" src="https://xhubaddis.com/wp-content/uploads/2021/11/UPDATED-LOGOS-GUYS-02.png" ></a>
				<hr style="width: 100%;" class="light">
				<p>+251-911703617</p>
				<p>INFO@XHUBADIS.com</p>
				<p>Addis Ababa , Bole</p>
			</div>
			<div class="col-md-4">
				<hr style="width: 100%;" class="light">
				<a href="#" class="navbar-brand"><h4 class="display-6">Work Hours</h4></a>
				<hr style="width: 100%;" class="light">
				<p>Monday : 1:00 - 12:00</p>
				<p>Saturday : 1:00 - 10:00</p>
				<p>Sunday : closed</p>
			</div>
			<div class="col-md-4">
				<hr style="width: 100%;" class="light">
				<a href="#" class="navbar-brand"><h4 class="display-6">Area</h4></a>
				<hr style="width: 100%;" class="light">
				<p>Addis Ababa</p>
				<p>Bole , Behind Edna Mall</p>
				<p>Morning star 5th floor</p>
			</div>
			<div class="col-12">
				<hr style="width: 70%; margin-left:15%;" class="light">
				<h5>&copy , info@XHUBADIS.com</h5>
			</div>

		</div>

	</div>
</footer>




    
    
</body>
</html>